/* Fonts */
@font-face {
  font-family: AmazonEmberDisplayHeavy;
  src: url("../fonts/AmazonEmberDisplay_He.otf") format("opentype");
}

@font-face {
  font-family: AmazonEmber;
  src: url("../fonts/AmazonEmber_Rg.otf") format("opentype");
}

@font-face {
  font-family: AmazonEmberMono;
  src: url("../fonts/AmazonEmberMono_Rg.otf") format("opentype");
}

@font-face {
  font-family: AmazonEmberDisplayLight;
  src: url("../fonts/AmazonEmberDisplay_Lt.otf") format("opentype");
}

/* Variables */
:root {
  --main-text-color: #232F3D;
  --secondary-text-color: #1E2125;
  --light-background: #F1F3F2;
  --dark-background: #232E3E;
  --accent-color: #F09A18;
  --font-light: AmazonEmberDisplayLight;
  --font-regular: AmazonEmber;
  --font-heavy: AmazonEmberDisplayHeavy;
}

/* Basic resets and styles */
body {
  font-family: var(--font-light);
  background-color: var(--light-background);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heavy);
  margin: 0;
  padding: 0;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Your custom styles here */
